body {
    background-color: rgb(133, 132, 132);
    
    
}
#gridHelp {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
h1 {
    text-align: center;
}

#board {
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
 #board > div {
     
     font-size: 10vh;
     text-align: center;
     cursor: pointer;

 }

.horizontalWin{
    background: 
    linear-gradient(to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}
.verticalWin{
    background: 
    linear-gradient(to left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}
.diagonalWin{
    background: 
    linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}

 #board > div:nth-child(3n-1){
    border-left: 3px solid black;
    border-right: 3px solid black;
 }
 /* both pseudo-selectors must be satisfied, leaving just the 4-6 range */
 #board > div:nth-child(n+4):nth-child(-n+6){
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }

 #resetDiv{
    display: flex;
    justify-content: center;
    align-items: center;
 }