body {
    background-color: rgb(133, 132, 132);
    
    
}
#gridHelp {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
h1 {
    text-align: center;
}

#board {
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
 #board > div {
     
     font-size: 10vh;
     text-align: center;
     cursor: pointer;

 }
 #gridHelp h3{
     cursor: pointer;
 }

.horizontalWin{
    background: 
    linear-gradient(to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}
.verticalWin{
    background: 
    linear-gradient(to left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}
.diagonalWinLeft{
    background: 
    linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}
.diagonalWinRight{
    background: 
    linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 2px),
        rgba(0,0,0,0) 100%);
}

 #board > div:nth-child(3n-1){
    border-left: 3px solid black;
    border-right: 3px solid black;
 }
 /* both pseudo-selectors must be satisfied, leaving just the 4-6 range */
 #board > div:nth-child(n+4):nth-child(-n+6){
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }

 #resetDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .modal{
    width: 40%;
    background-color: white;
    border: 1px black solid;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 2;
 }
 .modal ul{
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: justify;
 }
 .modal h3{
     margin-bottom: 0.25em;
 }
 .modal h2{
     margin-top: 0px;
 }
 .modal li{
     margin-top: 0.2rem;
 }
 .overlay{
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     /* width: 100%; */
     background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(3px);
 }
 .hidden{
     display: none;
 }
 .wins{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }